<h1 class="title">AREA {{areaID}}</h1>
<div class="detalhes">
    <div class="detalhes-product" *ngFor="let car of cars">
        <ng-container>
            <div [routerLink]="['/detalhes', areaID, car.id]">
                <label class="modelo">Modelo: </label>
                <a>
                    {{car.modelo}}
                </a>
                <label class="modelo preco">Preço: </label>
                <a>
                    {{ car.preco | currency }}
                </a>
            </div> 
        </ng-container>
    </div>
</div>
