<div class="content">
    <div id="venda">   
            <h1>XXZ</h1>  

            <div class="input-box">
                <select class="form-select" aria-label="Default select example" >
                    <option selected>Cliente</option>
                    <option *ngFor="let cliente of clientes" value="cliente.id">{{cliente.nome}}</option>
                  </select>
            </div>
            <div class="input-box"> 
                <select class="form-select" aria-label="Default select example">
                    <option selected>Concessionária</option>
                    <option *ngFor="let concessionaria of concessionarias" value="concessionaria.id">{{concessionaria.nome}}</option>
                  </select>
            </div>

            <div> 
                <button>Confirmar venda</button>
            </div>           
    </div>
</div>
